.banner {
  font-size: 100px;
  width: 100%;
  height: 30%;
  color: white;
  text-align: left;
  font-family: "Verdana";
  font-weight: bold;
  padding-top: 70px;
  background-image: url("./bannerImage.jpg");
  background-size: cover;
  background-position: 20% 60%;
}

.img {
  color: white;
}
